
<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <%= preview.title %><br>
      <small class="text-muted"><%= preview.subtitle %></small>
    </h5>

    <p class="card-text"><%= preview.preview %></p>
  </div>
  <div class="card-footer">
    <%= link_to 'Read more', article_path(preview.id)%>
  </div>
</div>
<br>