<h3><%= title %></h3>

<%= form_with(model: article, url: path) do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, class: "form-control" %>
  </div>
  <div class="form-check">
    <%= form.check_box :premium, class: "form-check-input" %>
    <%= form.label :premium, 'Premium Article?', class: "form-check-label" %>
  </div>
  <br>
  <div class="form-group">
    <%= form.rich_text_area :content %>
  </div>

  <%= form.submit %>
<% end %>