<%= link_to 'New Article', new_admin_article_path %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Premium?</th>
      <th scope="col">Date Posted</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <% @articles.each do |article| %>
      <tr <%= 'class="text-muted"'.html_safe if article.hidden %>>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.premium ? 'Yes' : 'No' %></td>
        <td><%= article.created_at.strftime('%F') %></td>
        <td>
          <%= link_to 'Edit', edit_admin_article_path(article.id), class: "btn btn-secondary btn-sm" %> 
          <%= link_to 'Show/Hide', admin_article_toggle_path(article.id), method: :post, class: "btn btn-secondary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>