<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">User</th>
      <th scope="col">Content</th>
      <th scope="col">Visible?</th>
      <th scope="col">Date Posted</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <% @testimonials.each do |testimonial| %>
      <tr <%= 'class="text-muted"'.html_safe unless testimonial.visible %>>
        <td><%= testimonial.id %></td>
        <td><%= testimonial.user.name || testimonial.user.email %></td>
        <td><%= testimonial.content %></td>
        <td><%= testimonial.visible ? 'Yes' : 'No' %></td>
        <td><%= testimonial.created_at.strftime('%D') %></td>
        <td>
          <%= link_to 'Show/Hide', admin_testimonial_toggle_path(testimonial.id), method: :post, class: "btn btn-secondary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>