
<div class="row justify-content-around">
<div class="col-3">
       
    <!-#space holder->
</div>
    <div class="col-3">
    <label class="sub-pg">About Us</label>
        <p id="as-des">
            Connecting you to loved ones and giving guidance in the right direction to your future. I am here
            to discover what potentially has you blocked.
        </p>
        <br>
        <p id="as-des">
        Contact me or make an appointment to book your spiritual consultation.
        </p>
        <br>
        <p id="as-des">
        Phone: 613-793-3370
        </p>
        <p>
        <a href="RealPsychicandSpiritualMedium@outlook.com">eMail Us</a> 
        
         <a href="www.facebook.com/CompassionateWingsMindBodySoul/?ref=page_internal">Facebook</a>
        </p>

    </div>
   
    <div class="col-3">
    <div id="as-crousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/images/about_us/Anne_1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/images/about_us/Anne_3.jpg" alt="Second slide">
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100" src="/images/about_us/Anne_4.jpg" alt="Third slide">
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100" src="/images/about_us/Anne_5.jpg" alt="Third slide">
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100" src="/images/about_us/Anne_6.jpg" alt="Third slide">
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100" src="/images/about_us/Anne_7.jpg" alt="Third slide">
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100" src="/images/about_us/Anne_8.jpg" alt="Third slide">
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100" src="/images/about_us/Anne_9.jpg" alt="Third slide">
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100" src="/images/about_us/Anne_10.jpg" alt="Third slide">
      </div>
    </div>
  </div>

    </div>
    <div class="col-3">
    <!-#space holder->

    </div>
</div>