<% content_for :navbar do %>
    <%= render 'layouts/navbar' %>
<% end %>

<% # binding.pry %>




<div class="row d-flex justify-content-around home-sub-grids"
style="margin-left: 1vw;">
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="/images/articles.jpg" alt="...">
    </a>
    <p>


<h2>Articles</h2>
<%= link_to 'All Articles', articles_path %><br>
</p>
  </div>
  
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">

      <img src="/images/testimonies.jpg" alt="...">

    </a>
    <p>
<h2>Testimonies</h2>
    <%= link_to 'All Testimonials', testimonials_path %>
</p>
  </div>

  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">

      <img src="/images/appointments.jpg" alt="...">

    </a>
    <p>
<h2>Appointments</h2>
<%= link_to 'Appointments', 'https://www.facebook.com/pg/CompassionateWingsMindBodySoul/services/?ref=page_internal' %><br>
  </div>

</div>


<% if @show_modal %>

  <div id='cookies' class="modal" tabindex="-1" role="dialog" style="color: black">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Attention</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This site uses cookies. Remaining on this site will be considered consent</p>
          <p><%= link_to 'Privacy Policy', privacy_path %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <% content_for :scripts do %>
    $('#cookies').modal('show')

  <% end %>

<% end %>


