<div class="service-container" style="background-color:rgb(11,11,11,.1); width:85%; margin:auto; padding:4rem">
<h2>Services</h2>
<p>
Missing Person - 30 minutes - Price Varies
</p>
<p>
Do you have a missing persons case? I can help. I have had many cases where a missing
person was involved.
</p>
<p>
Spiritual Reading - 1 hour - $125.00
</p>
<p>
- ½ hour - $80.00
</p>
<p>
Love, luck, career, present, past and future. Spirit readings advise on all matters of life and
answers all your personal questions.
</p>
<p>
Mediumship Session - ½ hour - $125.00
</p>
<p>
Connecting with your loved ones that passed on to receive messages and receive closure.
</p>
<p>
Pendulum Reading - Duration varies - Starts from $20.00
</p>
<p>
Ask 5 questions and receive answers through divination.
</p>
<p>
Life Coach - 1 hour - $120.00
</p>
<p>
Guidance and help with releasing past trauma. Self-esteem building and figuring out what a

healthy partner is.
</p>
<p>
Relaxation Massage/Deep Tissue Massage - $80.00
</p>
<p>
Membership Page
<p>
** ALL paying members have access to premium articles and videos
</p>
<p>
** No Cancellations
</p>
<p>
Bronze VIP Membership - 3 Months - $300.00
</p>
<p>
- 6 months - $500.00
</p>
<p>
Includes 1 Full Reading and 1 Pendulum Reading each month
</p>
<p>
Silver VIP Membership - 3 months - $450.00
</p>
<p>
- 6 months - $800.00
</p>
<p>
Includes 1 Full Reading, 2 Mini Readings, and 1 Pendulum Reading each month
</p>
<p>
Gold VIP Membership - 3 Months - $450.00
</p>
<p>
- 6 months - $1000.00
</p>
<p>
Includes 2 Full Readings, 2 Mini Readings, and 2 Pendulum Readings each month
</p>
<p>
Ultimate VIP Membership - 3 Months - $750.00
</p>
<p>
- 6 months - $1300.00
</p>
<p>
Includes 4 Full readings, 4 Pendulum Readings, Private Messaging with Anne, and 4 Spiritual
Therapy.
</p>
</div>
