<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=<%= ENV['FB_APP_ID'] %>&autoLogAppEvents=1"></script>

<div class='text-center'>
    <div 
        
        class="fb-video" 
        data-href="https://www.facebook.com/facebook/videos/<%= @video_url %>/" 
        data-width="900" 
        data-show-text="false"
        data-allowfullscreen="true"
        >

<blockquote cite="https://developers.facebook.com/facebook/videos/<%= @video_url %>/" class="fb-xfbml-parse-ignore">
<a href="https://developers.facebook.com/facebook/videos/<%= @video_url %>/">How to Share With Just Friends</a>
<p>How to share with just friends.</p>
Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Friday, 5 December 2014</blockquote>
        
    </div>
</div>