// Place all the styles related to the admin/Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.card{
    width:85%;
    margin:auto;
    background: transparent !important;
    color: beige;

    .card-body{
        text-indent: 1cm;
        
    }
    .card-footer{
        a{float:right;
        }
    }

}

.trix-content{
    width:85%;
    margin:auto;
    color: beige;
}
