// Place all the styles related to the admin/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sign_in, #sign_up, #new_password{
    width: 25%;
    height:60vh;
    margin: 0 auto;
    display: grid;

    form{
        display: block;

        input[type="email"],
        input[type="password"]{
            width: 84%;
            padding: 15px 10px 15px 50px;
            font-size: 14px;
            background: transparent;
            border: 2px solid #FFF;
            border-radius: 5px;
            outline: none;
            margin-bottom: 20px;
            color: #FFF;
        }
        input[type="submit"]{
            font-size: 16px;
            font-weight: 700;
            padding: 15px 50px;
            background-color: #173148;
            color: #FFF;
            border: none;
            border-radius: 5px;
            outline: none;
            float: left;
            cursor: pointer;
        }
    }
}