/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/images/stylesheets, or any plugin's
 * vendor/images/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

 html, body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif !important;
    overflow: hidden auto;
background: linear-gradient(34deg, #29725f, #23757d, #385689, #671a3e);
background-size: 800% 800%;

-webkit-animation: AnimationName 19s ease infinite;
-moz-animation: AnimationName 19s ease infinite;
animation: AnimationName 19s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
#home-title{
        color: linear-gradient(45deg, #dea94d, #e7b552, #ebc965, #f8de7d) !important;
        margin-top: 2em;
}
.container{
    max-width: 1920px !important;
    color: whitesmoke;
    padding: 0 !important;
}
.jumbotron{
   
    text-align: center;
    background: radial-gradient(black, transparent) !important;
}

.home-sub-grids img{
    width: 30vw;
    height: 40vh;
}

.sub-pg{
    text-align: center;
    margin-bottom: 1.5rem;
}


    a[href*="/profile"]{color:#00ff95}
    a[href*="/testimonial"]{color:#2cb6c0}

    
    a[href*="/facebook"]{
        display: inline-block;
        width: 40px;
        height: 40px;
        background:url(https://facebook.com/favicon.ico) no-repeat left center;
        padding-left:2vw;
        background-size: 100%;  
    
    }
    a[href*="/google"]{
        display: inline-block;
        width: 30px;
        height: 30px;
        background:url(https://google.com/favicon.ico) no-repeat left center;
        padding-left:3vw;
        background-size: 100%;  
    
    }

  h1, h2{

    font-family: 'Nova Script', cursive !important;
  }
