// Place all the styles related to the Testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.testimonial-container{
    width:70%;
    margin:auto;
    background-color: rgba(0,0,0,.1);
    padding: 1.5rem;
    .tes-header{
        margin:auto 5px;
        padding: 3px;
       
        // background-color: rgba(34, 31, 30, 0.863);  
    }
    .testimonial{
        border-bottom: double 1px rgb(233, 241, 241);
        // width: 40vw;
        height: 10vw;
        margin: auto;
        padding:20px;

        .tes-date{float: right;}
        
    }

}
