// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.layout-topbar{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background-color: #30383c;
    display: inline-flex;
    line-height: 8vh;
    div{
        width: 20vw;
        font-size: x-small;
    }
    marquee{
        // font-family: Verdana, Geneva, Tahoma, sans-serif;
        // font-feature-settings: "ccmp";
        margin: 3vh 1rem;
        color:rgb(107, 187, 197);
    }
    .top-info {
        padding: 20px;
        list-style: none;
        position: absolute;
        right: 10px;
        top: 0;
        margin: 0;
        color: cornsilk;
        font-weight: 100;
        font-size: 2vh;
        line-height: 6vh;
        display: inline-flex;
        .top-item{
            margin-right: 2vw;
            a{
                
                font-size: 90%;
                font-weight: 400;
                padding: .75em 0;
                letter-spacing: 1px;
                color: #fff;
                font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
            }
            a:hover{
                color:rgb(236, 169, 25);
            }
        }
    }

}

