

<div class='card' style="margin:auto; color:#000">
<div class='card-body' style="margin:auto">
<h2><%= current_user.name %></h2>
<table id="profile-tab" style="margin:auto">

<tr>
<th>Account Type</th> <td><%= user_type(current_user) %></td>
</tr>


<tr>
</tr>

<tr>
<th>Card Info</th> <td>
<% if current_user.card_info.present? %>
<%= "#{current_user.cc['card_brand'].humanize.upcase } ending in #{current_user.cc['last_4']}" %>
<% else %>
No card on file
<% end %>

</td>
</tr>


</table>

<% unless user_type(current_user) == 'Member' %>
<p>
<%= link_to 'Upgrade to Premium Account', upgrade_path %>
</p>
<% end %>
</div>
</div>

<div class='container' style='width:600px'>
<% if user_type(current_user) == 'Admin' %>
<p>
<h3>Admin</h3>
<%= link_to 'Articles', admin_articles_path %><br>
<%= link_to 'Testimonials', admin_testimonials_path %><br>
<%= link_to 'Update Stream', admin_stream_path %><br>

</p>
<% end %>
</div>
