<div class="testimonial-container">
<div class="tes-header">
<h1>Testimonials</h1>

<button class="btn btn-secondary"><%= link_to 'Post Testimonial', new_testimonial_path %></button>

</div>
<% if @testimonials.count > 0 %>

  <% @testimonials.each do |testimonial| %>

    <div class="testimonial">
      <p><%= testimonial.content %></p>
      <p class="tes-date">Posted <%= testimonial.created_at.strftime('%D') %> <%= "by #{testimonial.user.name}" if testimonial.user.name.present? %></p>
    </div>

    <br>
    <hr/>

    <br>
  <% end %>

<% else %>

  No Testimonials Posted Yet! Click <%= link_to 'here', new_testimonial_path %> to post the first one!


<% end %>

</div>