

<%= form_with(url: testimonials_path, method: "post") do %>
    <h2>New Testimonial</h2>
    <div class="form-group">
        <label for="content" class="control-label">Leave a short message about your experience with Compassionate Wings</label>
        <textarea class="form-control" id="content" name="content" rows="5"></textarea>
    </div>
<%= submit_tag("Submit") %>
<% end %>