<% if signed_in? %>


Signed in as <%= @user.name || @user.email %>

<% else %>
<div>
<marquee direction=left scrolldelay=100 hspace=150 vspan=25><span>Welcome to C-Wings, please Sign in/up</span></marquee>
</div>
<% end %>