<!DOCTYPE html>
<html>
  <head>
    <title>Compassionate Wings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nova+Script|Petit+Formal+Script&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="container" id="main">

    <div class="layout-topbar">

		<img src="/images/cw_logo2.jpg" alt="logo" width="200"

      height="80" />
      <%= yield :navbar %>
      <p class="btn btn-outline-info" style="margin:10px; height: 5vh">
      <%= link_to('PROFILE', profile_path())%>
      </p>
		<ul class="top-info" style="padding: 20px">
            <li class="top-item">
            <%= link_to('Home', root_path())%>
            </li>
            <li class="top-item">
            <%= link_to('About', about_path())%>
            </li>
            <li class="top-item">
            <%= link_to 'Services', services_path %><br>
            </li>
            <li class="top-item">
            <%= link_to 'Stream', stream_path %>
            </li>
            <li class="top-item">
            <%= link_to 'Sign in', new_user_session_path %>
            </li>
            <li class="top-item">
            <%= link_to 'Sign up', new_user_registration_path %>
            </li>
            <li class="top-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
            </li>

		</ul>
</div>
      <div class="jumbotron">
          <h1 id="home-title">Compassionate Wings</h1>
      </div>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


    
    <br>
    <%= yield %>
    
    </div>
    <footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3">
                <h5>Developers</h5></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
            Jason | Joey | Tiga | JiaYing | JiaHao
            <span class="small"><br>
            Algonquin College Team 6
            </span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">©2019 Brand, Inc. <%= link_to 'Privacy Policy', privacy_path %></div>
        </div>
    </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script>

</script>

    <script>
      <%= yield :scripts %>
    </script>
  </body>
</html>
